h1 {
  margin: 0px;
  padding: 10px 10px 10px 10px;
  font: 70pt impact;
  text-align: center;
  background: linear-gradient(gray, white);
}

h2 {
  padding: 100px 0px 0px 0px;
  font: 35pt georgia;
  text-align: left;
}

.container {
  display: flex;
  gap: 20px;
}

.rectangle-1 {
  button {
    border-radius: 50px 50px 50px 50px;
    width: 250px;
    height: 100px;
    background-color: green;
    color: white;
    font: 40pt impact;
  }
  h1 {
    font: 70pt calibri;
    background: none;
  }
  background-color: #9c0000;
  margin: 10px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  padding: 10px;
  color: white;
  height: 300px;
  width: 400px;
}

.rectangle-2 {
  button {
    border-radius: 50px 50px 50px 50px;
    width: 250px;
    height: 100px;
    background-color: white;
    color: black;
    font: 40pt impact;
  }
  h1 {
    font: 65pt unispace;
    background: none;
    margin: 10px;
  }
  background-color: #079bdb;
  margin: 10px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  padding: 10px;
  color: black;
  height: 300px;
  width: 400px;
}

.rectangle-3 {
  h1 {
    font: 70pt calibri;
    background: none;
  }
  background-color: black;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  padding: 20px;
  color: white;
  height: 145px;
  width: 500px;
  margin: 20px 500px 20px 700px;
}